Message too long -> Disconnected

(Report imported from Bugzilla #121)

Status CLOSED, severity *normal*, in component *Daemon*.
Reported in version *unspecified* on platform *All*.
Assigned to: Alexander Barton.

On 2011-12-31 06:23:37 +0100,  wrote:

> When a user tries to send a message that is too long, he or she is disconnected from the server. A better solution would be to send them a notification or break up the message into parts if it can be broken into a reasonable number of messages.

On 2012-01-02 21:03:43 +0100, Alexander Barton wrote:

> See RFC 2812 section 2.3 "Messages":
> 
> "IRC messages are always lines of characters terminated with a CR-LF (Carriage Return - Line Feed) pair, and these messages SHALL NOT exceed 512 characters in length, counting all characters including the trailing CR-LF. Thus, there are 510 characters maximum allowed for the command and its parameters.  There is no provision for continuation of message lines."
> 
> So this is clearly a bug in the client generating such messages in the first place.
> 
> Besides this, the server can't fix this in a sensible way: not only is the PRIVMSG command affected, all IRC commands are ...

On 2012-03-16 10:29:13 +0100, Alexander Barton wrote:

> Bug closed, can't/won' fix …

