ngIRCd allows empty string as channel name

(Report imported from Bugzilla #88)

Status CLOSED, severity *normal*, in component *Daemon*.
Reported in version *unspecified* on platform *PC*.
Assigned to: Alexander Barton.

Original attachment names and IDs:
- _[0001-Fixed-problem-of-allowing-empty-string-for-channel-n.patch](https://arthur.barton.de/bugzilla//attachment.cgi?id=33)_ (ID 33)

On 2008-06-03 19:54:00 +0200, Dana Dahlstrom wrote:

> See the following transcript:
> 
> join :
> :nick!user@localhost JOIN :
> :localhost 353 nick =  :@nick
> :localhost 366 nick  :End of NAMES list
> list
> :localhost 322 nick  1 :
> :localhost 323 nick :End of LIST
> 
> Here the channel name is the empty string in the trailing part indicated by the
> colon. The grammar in RFC 2812 section 2.3.1 certainly requires at least one of
> 4 prefix characters: '#', '+', '!', or '&'.
> 
> On a related note, the grammar appears to require that chanstring, the part
> after the prefix character, be *exactly* one character long, which is clearly
> not what we want. Section 1.3 is also clear that channel names may be up to 50
> characters long, but it isn't clear whether a chanstring may be empty; that is,
> whether a channel name may consist of a single prefix character alone.

On 2008-06-03 21:24:54 +0200, Florian Westphal wrote:

> Last time I checked, irc 2.11 did allow channels with 0 length.

On 2008-06-11 01:52:35 +0200, Scott Perry wrote:

> 
> 
> *** This bug has been marked as a duplicate of 79 ***

On 2008-06-11 02:04:50 +0200, Florian Westphal wrote:

> This has nothing to do with 79, sorry for the confusion. This bug is just
> "RFC vs. ircd 2.11" so this boils down to politics.
> I'd like to avoid that mine field if possible...
> 

On 2008-06-12 05:58:51 +0200, Eric Grunow wrote:

> Created attachment 33
> Patch to disallow using empty string as a channel name
> 
> Patch to prohibit using an empty string as a channel name.  
> 
> Channel_IsValidName() in channel.c previously only checked if a channel was
> NULL.  Now it includes a check for a channel name of length 0.	If a channel
> name has a length >=0 Channel_IsValidName returns false.
> 
> tested by Eric Grunow <egrunow@ucsd.edu> and Ali Shemiran <ashemira@ucsd.edu>

On 2008-07-22 11:22:53 +0200, Alexander Barton wrote:

> ircd 2.11.1p1 allows empty channel names:
> 
> VERSION
> :irc.localhost 351 alex 2.11.1p1. irc.localhost 000A :aEFHJKMpRTuXZ
> JOIN :
> :irc.localhost 461 alex JOIN :Not enough parameters
> JOIN :#
> :alex!~user@localhost JOIN :#
> :irc.localhost 353 alex = # :alex 
> :irc.localhost 366 alex # :End of NAMES list.
> 
> So I'll change ngIRCd to not allow empty channel names when compiled using
> --strict-rfc, but to allow it otherwise ("by default").

On 2008-07-22 13:32:42 +0200, Alexander Barton wrote:

> Commit b92a7627f3dc... ("Don't allow empty channel names ("#") in strict RFC
> mode") to GIT master branch fixes this bug.

