JOIN only supports one key at a time

(Report imported from Bugzilla #42)

Status CLOSED, severity *minor*, in component *Daemon*.
Reported in version *unspecified* on platform *All*.
Assigned to: Alexander Barton.

On 2002-12-17 00:21:48 +0100, Alexander Barton wrote:

> The JOIN command supports a list of channels but only one key that must be
> equal for all channels. This is not compliant to RFC 2812, section 3.2.1.

On 2005-08-15 13:41:47 +0200, Hannes Dorbath wrote:

> Any chance to get that fixed sometime soon? It may not be a problem for many
> people, but it's a blocker for us, as we use your IRCD as a support system for
> customers and all channels are +k.
> 
> Thanks

On 2005-08-25 10:32:27 +0200, Alexander Barton wrote:

> Now that I know that someone would use this feature I'll have a look at it :-)

On 2005-09-02 17:49:44 +0200, Alexander Barton wrote:

> The CVS-HEAD version as of now supports more than one channel key at a time when joining multiple 
> channels.
> 
> Will be included in the next "major" release of ngIRCd.
> 
> The patch is available via Web-CVS:
> <http://arthur.ath.cx/cgi-bin/viewcvs.cgi/ngircd/ngircd/src/ngircd/irc-channel.c?
> sortby=date&r2=1.32&r1=1.31>

On 2005-11-07 13:55:31 +0100, Alexander Barton wrote:

> Seems to work just fine -- I'll close this bug :-)

